html {
	font-family: 'Roboto', sans-serif;
	color: #484848;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

#map-canvas {
	//width: 50%;
	//float: left;
	height: 100%;
}

#map-canvas-host {
	width: 100%;
	height: 150px;
}

section {
	width: 100%;
	height: 350px;
}

a {
	color: #FAFAFA;
	text-decoration: none;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

a:hover {
	color: #FBC02D;
}


/*NAVBAR===============================================================================*/

.navbar {
	height: 80px;
	background-color: #fafafa;
}

.navbar .logo {
	margin: 20px;
	margin-left: 20px;
	width: 18%;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	overflow: hidden;
	float: right;
}

.navbar li {
	/*
	border-style: solid;
	border-width: thin;
	*/
	margin-top: 5px;
	border-color: #878787;
	float: left;
}

.navbar li a {
	text-align: center;
	padding: 28px 25px;
	color: #FBC02D;
	display: block;
	text-decoration: none;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.navbar li a:hover {
	color: #FFF;
	background-color: #FBC02D;
}

.navbar li ul li a {
	margin-top: -5px;
	background-color: #FFF;
	text-align: center;
	padding: 28px 25px;
	color: #FBC02D;
	visibility: hidden;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.navbar li:hover ul li a {
	visibility: visible;
}

.navbar li:hover ul li:hover {	
	color: #FFF;
	background-color: #FBC02D;
}

/*END NAVBAR===============================================================================*/

/*FOOTER===============================================================================*/

.footer {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 250px;
	background-color: #fafafa;
	margin-bottom: -7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer .logo {
	float: left;
	margin: 75px;
	margin-left: 75px;
	width: 15em;
}

@media only screen and (max-width:1135px){
	.sembunyikan-bila-kecil {
		display: none;
	}
}

.footer-content {
	margin-top: 20px;
	margin-left: 5%;
	float: left;
	color: #484848;
}

.footer-content .sec {
	font-weight:500;
}

.footer ul {
	list-style-type: none;
}

.footer ul li {
	margin-left: -40px;
	margin-bottom: 5px;
	font-weight:300;
}

.footer ul li a {
	color: #FBC02D;
	text-decoration: none;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.footer p {
	font-weight:300;
}

.footer ul li a:hover {
	color: #484848;
}

.footer-copyright {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 10px;
	background-color: #FBC02D;
}

/*END FOOTER===============================================================================*/

.text-kuning {
	color: #FBC02D;
}

.text-putih {
	color: #FFF;
}

.landing1 {
	background-image: url(/nginapterus/backend/asset/img/landing1-background.png);
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing1-black {
	width: 100%;
	height: 350px;
	background-color: rgba(0, 0, 0, 0.5);
}


.container {
	margin-top: -7px;
	padding-bottom: -7px;
}

.tebal {
	font-weight: bold;
}

.pengenalan {
	font-size: 1.8em;
	font-weight: 100;
	padding-top: 25px;
	color: #fff;
}

.pengenalan2 {
	font-size: 1.8em;
	font-weight: 100;
	padding-top: 40px;
}

.pengenalan3 {
	font-size: 1.8em;
	font-weight: 100;
	padding-top: 165px;
}

.logo-landing {
	width: 35%;
	margin-top: 95px;
}

.host-landing-browse {
	width: 100%;
	height: auto;
}

.host-landing-detail {
	display: inline-block;
	width: 250px;
	height: 300px;
	background-color: #F3F3F3;
	margin: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-size: cover;
	margin-bottom: 50px;
}

.host-landing-detail img {
	width: 100%;
	height: 200px;
	background-size: cover;
}

.host-landing-detail-content {
	margin: 12px;
	text-align: left;
}

.host-landing-detail-content a {
	color: #263238;
	text-decoration: none;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.host-landing-detail-content a:hover {
	color: #FBC02D;
}

.host-landing-detail-content .judul {
	font-size: 20px;
}

.host-landing-detail-content .bulat-kecil {
	margin-left: 10px;
	width: 28px;
	height: auto;
	border-radius: 100%;
	float: right;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.host-landing-detail-content .bulat-kecil:hover {
	margin-left: 10px;
	width: 28px;
	height: auto;
	border-radius: 100%;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.host-landing-detail-content .username {
	font-size: 12px;
}

.host-landing-detail-content .harga {
	font-size: 22px;
	margin-top: 8px;
}

.host-landing-detail-content .verifikasi {
	margin-top: -25px;
	float: right;
}

.host-landing-detail-content .verifikasi img {
	border-radius: 100%;
	width: 24px;
	height: auto;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.host-landing-detail-content .verifikasi img:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-daftar {
	background-color: #4CAF50;
}

.landing-daftar h2 {
	color: #fff;
	font-weight: 400;
	padding-top: 25px;
}

b a {
	color: #263238;
}

/*PAGE TENTANG===============================================================================*/

.judul-tentang {
	margin-top:50px;
	font-weight:300;
}

.konten-tentang {
	font-size: 20px;
	font-weight: 300;
	text-align: justify;
	margin: 40px 75px 50px 75px;
}

.unggul {
	display: inline-block;
	margin: 0 75px;
}

.unggul img {
	width: 150px;
	height: auto;
}

/*END PAGE TENTANG===============================================================================*/

/*LOGIN===============================================================================*/

input {
	cursor: pointer;
	border: 2px solid;
	border-color: #878787;
	font-weight: bold;
	color: #484848;
	font-size: 15px;
	height: 25px;
	border-radius: 5px;
	background-color: #fafafa;
	width: 90%;
	padding-left: 20px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.panel-login {
	padding: 8% 0;
	width: 350px;
	font-size: 16px;
	font-weight: 100;
}

.jarak {
	margin-top: 25px;
}

.masuk {
	margin-top: 25px;
}

.daftar {
	margin-top: 25px;
}


input[type = submit] {
    padding: 5px 15px; 
    background: #4CAF50; 
    font-weight: bold;
    color: #FFF;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 125px;
    height: 50px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

input[type = submit]:hover {
	background: #B2B2B2;
	//color: #4CAF50;
}

.text-belum-punya-akun a {
	font-size: 15px;
	margin-top: 18px;
	color: #03A9F4;
	text-decoration: none;
	float: left;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.text-belum-punya-akun a:hover {
	color: #4FC3F7;
	text-decoration: underline;
}
/*END LOGIN===============================================================================*/

/*APABILA USER TELAH LOGIN, REDIRECT KE BERANDA===============================================================================*/

.welcome {
	margin-left: 15px;
	font-weight: 100;
	width: 20em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
	//width: 350px;
	width: 100%;
	background-color: #FBC02D;
}

.menu ul{
	list-style-type: none;
	margin: 0;
}

.menu ul li {
	display: inline-block;
	padding: 20px 0px;
	//margin-top: -40px;
}

.menu ul li a {
	padding: 20px 121px;
	background-color: #FBC02D;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.menu ul li a:hover {
	background-color: #FAFAFA;
}

/*END APABILA USER TELAH LOGIN, REDIRECT KE BERANDA===============================================================================*/


/*HOST YANG DIPILIH===============================================================================*/

.host-cover {
	width: 100%;
	height: 350px;
}

.host-cover h1 {
	margin-left: 100px;
	position: absolute;
	margin-top: 100px;
	padding: 10px;
	font-size: 3em;
	font-weight: 300;
	background-color: #FBC02D;
	color: #fff;
}

.host-cover h3 {
	margin-left: 100px;
	position: absolute;
	margin-top: 185px;
	padding: 7px;
	font-size: 1.2em;
	font-weight: 300;
	background-color: #FBC02D;
	color: #fff;
}

.host-cover img {
	background-size: cover;
	width: 100%;
	height: 350px;
}

.host-user {
	margin: 15px;
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.host-user .host-user-bulat-kecil {
	margin-top: 20px;
	width: 50px;
	height: auto;
	border-radius: 100%;
}

.host-user .host-user-verified {
	margin-top: -10px;	
	width: 25px;
	height: auto;
}

.host-content {
	margin: 15px;
	float: right;
	width: 75%;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.host-content .header-host img {
	border-radius: 100%;
	width: 24px;
	height: auto;
}

.host-content .content {
	margin: 20px 50px;
}

.host-content .header-host h1 {
	font-size: 3em;
	font-weight: 300;
}

.host-content .header-host h2 {
	margin-top: 0;
	font-size: 2.5em;
}

.host-content .header-host h3 {
	margin-top: -25px;
	font-size: 1.2em;
	font-weight: 300;
}

.host-content .header-host h4 {
	margin-top: -42px;
}

.host-content .deskripsi-host h3 {
	margin-top: 20px;
	font-size: 1.7em;
	font-weight: 250;
}

.host-content .deskripsi-host p {
	margin-top: -20px;
	text-align: justify;
}

.host-content .alamat-host h3 {
	margin-top: 20px;
	font-size: 1.7em;
	font-weight: 250;
}

.host-content .alamat-host p {
	margin-top: -20px;
	text-align: justify;
}

.alamat-host {
	width: 100%;
	height: auto;
}

.maps-nama-host {
	color: #263238;
}


/*END HOST YANG DIPILIH===============================================================================*/

/*PENCARIAN HOST===============================================================================*/

.judul-cari {
	font-size: 1.8em;
	font-weight: 100;
	padding-top: 50px;
	padding-bottom: 25px;
}

/*END PENCARIAN HOST===============================================================================*/

/*BOOKING HOST===============================================================================*/

.booking-content {
	margin: 15px;
	float: right;
	width: 75%;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.check-in-out-text {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 20px;
}

.form-booking {
	width: 50%;
}

input[type = radio] {
}

/*END BOOKING HOST===============================================================================*/

/*SUKSES===============================================================================*/

.judul-sukses {
	margin-top:50px;
	font-weight:300;
}

.konten-sukses {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 40px 75px 50px 75px;
}

.rincian-order {
	width: 500px;
		margin-bottom: 50px;
}

.rincian-order table {
	border: 1px solid black;
	border-collapse: collapse;
}

.rincian-order tr {
	background-color: #FBC02D;
	color: white;
	height: 50px;
}

.rincian-order tr td {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

/*END SUKSES===============================================================================*/

/*HOST SAYA===============================================================================*/

.edit-host {
	background-color: #2196F3;
	color: #FAFAFA;
	width: 45%;
	height: 50px;
	float: left;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.edit-host:hover {
	background-color: #1976D2;
}

.hapus-host {
	background-color: #f44336;
	color: #FAFAFA;
	width: 45%;
	height: 50px;
	float: right;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.hapus-host:hover {
	background-color: #d32f2f;
}

.aksi-edit-delete {
	margin-top: 15px;
}

.tambah-host {
	color: #FAFAFA;
	background-image: url(/nginapterus/backend/asset/img/add-host.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 100;
	width: 90px;
	height: 90px;
	border-radius:100%;
	background-color: #3AAC72;
	bottom: 0;
	right: 0;
	position: fixed;
	margin-bottom: 25px;
	margin-right: 25px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

.tambah-host:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*END HOST SAYA===============================================================================*/

/*TAMBAH HOST===============================================================================*/

.panel-tambah-host {
	padding: 8% 0;
	width: 550px;
	font-size: 16px;
	font-weight: 100;
}

.panel-tambah-host textarea {
	cursor: pointer;
	border: 2px solid;
	border-color: #878787;
	font-weight: bold;
	color: #484848;
	font-size: 15px;
	border-radius: 5px;
	background-color: #fafafa;
	width: 90%;
	padding-left: 20px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	width: 90%;
}

.panel-tambah-host select {
	cursor: pointer;
	border: 2px solid;
	border-color: #878787;
	font-weight: bold;
	color: #484848;
	font-size: 15px;
	border-radius: 5px;
	background-color: #fafafa;
	width: 90%;
	padding-left: 20px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	filter: alpha( opacity = 0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	width: 95%;
}

#map-canvas-host-baru {
	width: 100%;
	height: 250px;
}

.latlon {
	width: 80%;
}

.lat {
	width: 35%; 
	float: left;
}
.lon {
	width: 35%;
	float: right;
}
/*END TAMBAH HOST===============================================================================*/